#registration-form {
    background-color: #EDEDED;
    padding: 10px 20px;
    border-radius: 5px;
}

.identifier {
    display: flex;
    margin-right: 20px;
    width: 200px;
    justify-content: flex-end;
    font-weight: bold;
}

.component {
    display: inline;
}

.component-icon {
    font-size: 18px;
    color: black;
    padding: 2px 10px;
    background-color: #EDEDED;
    border: 2px solid darkgray;
    border-radius: 5px 0px 0px 5px;
}

.component-container {
    display: flex;
    justify-content: flex-end;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.sub-container {
    display: flex;
    align-items: center;
    margin: 7px;
    width: 500px;
}

.sub-container input,select,textarea{
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    border-left: 0;
}

#submit-button-container {
    justify-content: center;
}

#project-description-icon {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

#submit-button-container i{
    color: white;
}

#submit-button-container span{
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    background-color: orange;
    border: 0;
    padding: 5px;
}

#submit-button-container input {
    border-radius: 5px 0px 0px 5px;
    background-color: orange;
    border: 0;
    color: white;
    padding: 8px 10px;
}

input:invalid {
border: 2px solid #ff4d4d;
}
   
input:valid {
    border: 2px solid green;
}
   
select:invalid{
    border: 2px solid #ff4d4d;
}
   
select:valid{
    border: 2px solid green;
}